<!DOCTYPE html>
<html>
<head>
  <title>WitchDoctor</title>
  <%= stylesheet_link_tag    "witch_doctor/application", :media => "all" %>
  <%= javascript_include_tag "witch_doctor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
